<% include ../partials/head.ejs %>
  <body>
    <% include ../partials/header.ejs %>
    <main>
      <div class="container">
        <form class="labels" action="/auth/register" method="post">
          <div style="margin-top:10px;">
            <label>Username:</label>
            <input type="text" name="username"/>
          </div>
          <div>
            <label>Password:</label>
            <input type="password" name="password"/>
          </div>
          <div>
            <label>First Name:</label>
            <input type="text" name="firstName"/>
          </div>
          <div>
            <label>Last Name:</label>
            <input type="text" name="lastName"/>
          </div>
          <div>
            <label>Email:</label>
            <input type="text" name="email"/>
          </div>
          <div>
            <label>Date of Birth:</label>
            <input type="date" name="dob"/>
          </div>
          <div>
            <input style="left:45%; margin-bottom:10px;" class="waves-effect waves-light btn-large teal" type="submit" value="Register"/>
          </div>
        </form>
      </div>
    </main>
    <% include ../partials/footer.ejs %>
  </body>
</html>
