<footer class="page-footer blue">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">

            <h5 class="grey-text text-lighten-4">Feel free to reach out to me on Github and/or LinkedIn.</h5>
          </div>
          <div class="col l4 offset-l2 s12">

            <ul>
              <li><a href="https://dominic-farquharson.github.io/" class="grey-text text-lighten-3" href="#!"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a></li>
              <li><a style="color:white" href="https://www.linkedin.com/in/dominic-farquharson"><i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright teal">
        <div class="container">
        © 2016 Dominic Farquharson
        </div>
      </div>
    </footer>
