<% include partials/head.ejs %>
  <body>
    <% include partials/header.ejs %>
    <main class="home">
      <div class="container">
        <h2 class="center white-text">Welcome to Fazbook-auth</h2>
        <p><a class="waves-effect waves-light btn-large blue" href="/auth/register">click here to register</a></p>
        <p><a class="waves-effect waves-light btn-large blue" href="/auth/login">click here to log in</a></p>
        <p><a class="waves-effect waves-light btn-large blue" href="/auth/logout">click here to logout</a></p>
      </div>
    </main>
    <% include partials/footer.ejs %>
  </body>
</html>
